input {
    width: 69%;
    border: none;
    border-bottom: 2px solid rgba(73, 204, 249, 1.0);
    margin-right: 8px;
    margin-bottom: 12px;
    padding: 5px;
    line-height: 19px;
    background-color: transparent;
    border-radius: 5px
  }

  input:focus {
    outline: none;
    border: none;
    border-top: 2px solid rgba(73, 204, 249, 1.0);
    border-bottom: 2px solid rgba(73, 204, 249, 1.0);
  }